<p-overlayPanel #treeOp [dismissable]="true" [showCloseIcon]="true">
    <p-tree [value]="folders" selectionMode="single" [(selection)]="selectedFolder" (onNodeSelect)="nodeSelect($event)" (onNodeExpand)="loadNode($event)"
        [contextMenu]="cm"></p-tree>
</p-overlayPanel>
<p-contextMenu #cm [model]="items"></p-contextMenu>
<p-dialog #createFolderDialog header="Create folder" [closable]="false" [width]="400">
    <div>
        <div>
            <label>
                <span>Enter the name of the folder:</span>
            </label>
        </div>
    </div>
    <div>
        <span>&nbsp;</span>
    </div>
    <div>
        <div>
            <input type="text" size="20" class="form-control" pInputText [(ngModel)]="newFolderName" />
        </div>
    </div>
    <footer>
        <div class="ui-dialog-buttonpane ui-widget-content ui-helper-clearfix">
            <button type="button" icon="fa-check" pButton label="Yes" (click)="createNewFolder($event)"></button>&nbsp;
            <button type="button" icon="fa-times" pButton label="NO" (click)="createFolderDialog.visible=false"></button>
        </div>
    </footer>
</p-dialog>
<p-dialog #removeFolderDialog header="Remove folder" [closable]="false">
    <div>Do you want to delete currently selected folder and all of its content?</div>
    <footer>
        <div class="ui-dialog-buttonpane ui-widget-content ui-helper-clearfix">
            <button type="button" icon="fa-check" pButton label="Yes" (click)="removeFolder($event)"></button>&nbsp;
            <button type="button" icon="fa-times" pButton label="NO" (click)="removeFolderDialog.visible=false"></button>
        </div>
    </footer>
</p-dialog>