<folder-chooser (onSelect)="updateBaseDir($event)" [currentFolder]="asciiDocInfo.baseDir" #folderChooser></folder-chooser>

<p-dialog header="Create new AsciiDoc document" [(visible)]="display" modal="true" showEffect="fade" [width]="1100">
    <div>
        <div class="ui-g">
            <div class="ui-g-4">
                <label for="_documentType">
                    <span style="font-weight: bold;">Document Type:</span>
                </label>
            </div>
            <div class="ui-g-1">&nbsp;</div>
            <div class="ui-g-4">
                <label for="_documentName">
                <span style="font-weight: bold;">Document Name:</span>
            </label>
            </div>
            <div class="ui-g-1">&nbsp;</div>
        </div>
        <div class="ui-g">
            <div class="ui-g-4">
                <p-dropdown #_documentType [options]="documentTypes" [(ngModel)]="asciiDocInfo.documentType" [styleClass]="form-control"
                    [style]="{'width':'280px'}" pTooltip="Type of the document" tooltipPosition="top"></p-dropdown>
            </div>
            <div class="ui-g-1">&nbsp;</div>
            <div class="ui-g-4">
                <input #_documentName type="text" class="form-control" size="30" pInputText [(ngModel)]="asciiDocInfo.documentName" pTooltip="Name of the document"
                    tooltipPosition="top" />
            </div>
            <div class="ui-g-1">&nbsp;</div>
        </div>
        <div class="ui-g">
            <div class="ui-g-4">
                <label for="_baseDir">
                <span style="font-weight: bold;">Document Directory:</span>
            </label>
            </div>
            <div class="ui-g-1">&nbsp;</div>
            <div class="ui-g-4">
                <label for="_documentTitle">
                <span>Document Title:</span>
            </label>
            </div>
            <div class="ui-g-1">&nbsp;</div>
        </div>
        <div class="ui-g">
            <div class="ui-g-4">
                <input #_baseDir type="text" class="form-control" size="30" pInputText [(ngModel)]="asciiDocInfo.baseDir" pTooltip="Base directory of the document"
                    tooltipPosition="top"/>
            </div>
            <div class="ui-g-1">
                <button type="button" pButton icon="fa-search" (click)="toggleOverlay($event)"></button>
            </div>
            <div class="ui-g-4">
                <input #_documentTitle type="text" class="form-control" size="30" pInputText [(ngModel)]="asciiDocInfo.documentTitle" pTooltip="Title of the document"
                    tooltipPosition="top" />
            </div>
            <div class="ui-g-1">&nbsp;</div>
        </div>

        <div class="ui-g">
            <div class="ui-g-4">
                &nbsp;
            </div>
            <div class="ui-g-1">&nbsp;</div>
            <div class="ui-g-4">
                &nbsp;
            </div>
            <div class="ui-g-1">&nbsp;</div>
        </div>
        <div class="ui-g">
            <div class="ui-g-4">
                &nbsp;
            </div>
            <div class="ui-g-1">&nbsp;</div>
            <div class="ui-g-4">
                &nbsp;
            </div>
            <div class="ui-g-1">&nbsp;</div>
        </div>
    </div>
    <footer>
        <div class="ui-dialog-buttonpane ui-widget-content ui-helper-clearfix">
            <button type="button" icon="fa-plus-square-o" pButton label="    Create Document    " (click)="createNewDocument()" [disabled]="disable()">
            </button>
        </div>
    </footer>
</p-dialog>