<div class="ui-toolbar-group-right">
	<span style="font-size:small;" *ngIf="isLoggedIn()">{{ auth.displayName }</span>
</div>
<p-toolbar>
	<div class="ui-toolbar-group-left">
	</div>

	<div class="ui-toolbar-group-right">
    <button pButton type="button" id="signup" label="Sign Up" icon="fa fa-user-plus" [routerLink]="['signup']" *ngIf="!isLoggedIn()"></button>
		<button pButton type="button" id="login" label="Log In" icon="fa fa-sign-in" [routerLink]="['login']" *ngIf="!isLoggedIn()"></button>
		<button pButton type="button" id="logout" label="Log Out" icon="fa fa-sign-out" (click)="auth.logout()" *ngIf="isLoggedIn()"></button>
	</div>
</p-toolbar>
